@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400&display=swap');

// Colores del logo
$logo-yellow: #FFBC74;
$logo-pink:  #FF74FC;
$logo-salmon: #FF7674;

// Colores de la app
$bg-color-primary: radial-gradient(50% 50% at 50% 50%, rgba(255, 118, 116, 0.3) 0%, rgba(255, 118, 116, 0) 100%);
$bg-color: linear-gradient(136.44deg, #FF7674 10.94%, #FF74B7 35.65%, #FF74FC 58.74%, #FFBC74 88.72%);
$color-primary:#FFFFFF;
$color-secundary: linear-gradient(92.69deg, #EB5E5C -0.64%, #FF7674 101.09%);
;
$color-tertiary: #2F2F2F;

// Fuentes
$font-title: "Balsamiq Sans", sans-serif;
$font-title-weight: 700;

$font-Subtitle: "Balsamiq Sans", sans-serif;
$font-Subtitle-weight: 400;

$font-text: "Baloo Thambi 2", sans-serif;
$font-text-weight: 400;

