@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400&display=swap');

// Colores del logo
$logo-yellow: #FFBC74;
$logo-pink:  #FF74FC;
$logo-salmon: #FF7674;

// Colores de la app
$bg-color: linear-gradient(to right top, #f98280, #fe98ab, #fbb1cf, #f5cbe9, #f3e3f8, #706e71, #f4e7f8, #f5e9f8, #f5d7ec, #f9c4d9, #fbb2bf, #f9a19f);;
$color-primary:#FFFFFF;
$color-secundary: #FF7674;
$color-tertiary: #2F2F2F;

// Fuentes
$font-title: "Balsamiq Sans", sans-serif;
$font-title-weight: 700;

$font-Subtitle: "Balsamiq Sans", sans-serif;
$font-Subtitle-weight: 400;

$font-text: "Baloo Thambi 2", sans-serif;
$font-text-weight: 400;

